@page "/"
@page "/#"


<PageTitle>Home</PageTitle>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-warning me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center myBackgroundClassA overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">
                <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#people-circle" />
                </svg>
                Zander
            </h2>
            <p class="lead">
                <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#gem" />
                </svg>
                Gold miner Class A
            </p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="../assets/dist/img/miners_v1/classA.jpg" width="300px" height="300px" />
        </div>
    </div>
    <div class="bg-purple me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center myBackgroundClassB text-white overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">
                <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#people-circle" />
                </svg>
                Bruce
            </h2>
            <p class="lead">
                <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#gem" />
                </svg>
                Gold miner Class B
            </p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="../assets/dist/img/miners_v1/classB.jpg" width="300px" height="300px" />
        </div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center myBackgroundClassC text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">
                <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#people-circle" />
                </svg>
                <strong>Rock</strong>
            </h2>
            <p class="lead">
                <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#gem" />
                </svg>
                Gold miner Class C
            </p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="../assets/dist/img/miners_v1/classC.jpg" width="300px" height="300px" />
        </div>
    </div>
    <div
        class="bg-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center myBackgroundClassD text-white overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">
                <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#people-circle" />
                </svg>
                Marty
            </h2>
            <p class="lead">
                <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#gem" />
                </svg>
                Gold miner Class D
            </p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="../assets/dist/img/miners_v1/classD.jpg" width="300px" height="300px" />
        </div>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted"></span>
    </div>
</footer>
