<nav class="nav nav-pills flex-column mb-auto">

    <div class="nav-item px-3">
        <NavLink href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home" />
            </svg>
            <span aria-hidden="true"></span>Home
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink href="claimToken" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2" />
            </svg>
            <span aria-hidden="true"></span>Claim Token
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink href="nfts" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#table" />
            </svg>
            <span aria-hidden="true"></span>NFTs
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink href="farm" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#grid" />
            </svg>
            <span aria-hidden="true"></span>NFT Farm
        </NavLink>
    </div>
</nav>